@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

a.emph {
    display: inline-block;
    border: 1px dashed #ccc;
    background-color: white;
    border-radius: 10px;
    padding: 0 3px;
    margin: -3px;
    transform: scale(1);
    transition: all 0.2s;
}

a.emph:hover {
    border: 1px dashed black;
    color: black;
    transform: scale(1.05);
}