@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

a {
    border: 1px dashed #555;
    border-radius: 10px;
    padding: 3px;
    margin: -3px;
    transition: all 0.2s;
}

a:hover {
    border: 1px dashed #aaa;
    color: white;
}